{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages list</h1>

    <table>
        <thead>
            <tr>

                <th>Messagetext</th>
                <th>Createdate</th>
                <th>Deletedate</th>
                <th>Deleteto</th>
                <th>Url</th>
                <th>Password</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.messagetext }}</td>
                <td>{% if message.createdate %}{{ message.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.deletedate %}{{ message.deletedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.deleteto %}{{ message.deleteto|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.url }}</td>
                <td>{{ message.password }}</td>
                <td>{{ message.email }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_new') }}">Create a new message</a>
        </li>
    </ul>
{% endblock %}
